<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="MovieDatabase" providerName="System.Data.SqlClient"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
         AttachDbFilename= C:\Users\Jono\source\repos\MovieStoreV3\Movie_Data1.mdf; 
         Database=MOVIE_DATA1.MDF"/> 
  </connectionStrings>
</configuration>
